@import "config";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
  font: {
    size: 18px;
    family: "Open Sans", sans-serif;
    weight: 400;
  }
}
